<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bar Chart Example</title>
	<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
	
	<style>
		.bar { fill: #EEE; background-color: red; }
	</style>

</head>
<body>
	<section id="chart"></section>
</body>

<script type="text/javascript">

var r = 960,
format = d3.format(",d"),
fill = d3.scale.category20c();
 
var bubble = d3.layout.pack()
	.sort(null)
	.size([r, r]);
 
var vis = d3.select("#chart").append("svg:svg")
	.attr("width", r)
	.attr("height", r)
	.attr("class", "bubble");

d3.json("${data_url}", function(json) {

	//var data = json.items;

	var node = vis.selectAll("g.node")
		.data(bubble.nodes(classes(json))
		.filter(function(d) { return !d.items; }))
		.enter().append("svg:g")
		.attr("class", "node")
		.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

	node.append("svg:title")
		.text(function(d) { console.log(d); return d.label + ": " + format(d.value); });

	node.append("svg:circle")
		.attr("r", function(d) { return d.r; })
		.style("fill", function(d) { return fill(d.r); });

	node.append("svg:text")
		.attr("text-anchor", "middle")
		.attr("dy", ".3em")
		.append("a").attr("xlink:href", function(d){ return d.url })
		.text(function(d) { return d.label; });
});
 
// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
	var classes = []; 
	
	function recurse(name, node) {
		if (node.items) node.items.forEach(function(child) { recurse(node.label, child); });
		else classes.push({url: node.url, label: node.label, value: node.num});
	}
	
	recurse(null, root);
	return {children: classes};
}

</script>
</html>