<html lang="en">
<head>
  <title>${title}</title>
  <style>
    body { font-family: monospace;}
    text { font-size:0.7em; }
  </style>
</head>
<body>
<h1>${title}</h1>
<div id="chart">
  <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.2.0.min.js"></script>
  <script type="text/javascript">

    var svg = dimple.newSvg("#chart", 800, 400);

    d3.json("${data_url}", function(json) {
  
      var filter_url = json.filter_url;
      var data = json.items;

      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 705, 305);
      var x = myChart.addCategoryAxis("x", "Date");
      x.addOrderRule("Date");
      myChart.addMeasureAxis("y", "Usage");
      var s = myChart.addSeries(null, dimple.plot.line);

      s.addEventHandler("click", function (e) {
        var url = filter_url.replace('FROM_DATE',e.xValue+"-01"); 
        url = url.replace('TO_DATE',e.xValue+"-31"); 
        var win = window.open(url, "_blank");
      });

      myChart.draw();

    });
  </script>
</div>
</html>